@page {
    size: 101.6mm 135.5mm; /*PicoSign 13.3": 1200x1600@150dpi*/
}

@page {
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 1cm;
  margin-bottom: 1cm;

}
img.a_img {
    max-height: 67.5mm !important; /* height == @page.height/2 */
}