@page {
    size: 119mm 158mm; /*PicoSign 7.8"*/
}

@page {
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 1cm;
  margin-bottom: 1cm;

}

img.a_img {
    /*max-height: 79mm !important;*/ /* height == @page.height/2 */
    max-height: 100mm !important;
}