
body {
  font-size: 12pt;
}


h1.a_title {
    page-break-after: avoid;
}

/* Artifact Page */
div.artifact{
    page-break-inside:avoid;
}

h1.a_title {
  page-break-before: always;
}

img.a_img {
    /*width: 90%;*/
    page-break-inside: avoid;
    margin-left: auto;
    margin-right: auto;
    display: block;
    page-break-before: avoid;
    max-height: 135mm; /* height == @page.height/2 */
}

/* Descriptions Pages */

h2.description.d_title {
}

ul.description {
  list-style-type: none;
  padding-left: 0px
}

li.description.d_entries {
    margin-top: 1em;
}

ul.vallist {
  list-style-type: none;
  display: inline;
}

ul.vallist > li.val {
  /*margin-top: 0.25em;*/
}

span.prop {
  font-weight: bold;
}

li p:first-of-type {
    margin-top: 0px; /* make paragraph inside li look like other li * /
}

