<div class="content">
<div class="artifact">
<h1 class="a_title">{{ a_title }}</h1>
<img class="a_img" src="{{ a_img_src }}" />
</div>
{%  for desc in descs %}
<div class="description">
<h2 class="description d_title">{{ desc['Page'] }}</h2>
<ul class="description d_entries">
    {% for prop, val in desc.items() %}
        {% if prop != 'Page' %}
            <li class="description d_entries"><span class="prop">{{ prop }}</span>
                <ul class="vallist">

                {% if val is string %}
                    <li class="val">{{ val|safe }}</li>
                {% else %}
                    {% for item in val %}
                        <li class="val">{{ item|safe }}</li>
                    {% endfor %}

                {% endif %}
                   </ul>
        {% endif %}
    {% endfor %}
</ul>
</div>
{% endfor %}
</div>
