<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href={{ stylesheet }}>
</head>
<body>
{% block body %}{{ body }}{% endblock %}
</body>
</html>